.header-nav {
  background-color: #1f2d4d;
}

.navbar {
  background-color: #1f2d4d;
}

.nav-link {
  font-family: Gilroy, sans-serif;
  color: #fff;
}

.nav-link-2 {
  font-family: Gilroy, sans-serif;
  color: #fff;
}

.nav-link-3 {
  font-family: Gilroy, sans-serif;
  color: #fff;
}

.nav-link-4 {
  font-family: Gilroy, sans-serif;
  color: #ceb47d;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1f2d4d;
  font-family: Gilroy, sans-serif;
}

.heading {
  float: left;
  font-family: 'Gilroy (1)', sans-serif;
  color: #fff;
  font-weight: 300;
}

.container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Gilroy, sans-serif;
}

.paragraph {
  float: left;
  clear: left;
  color: #fff;
  font-weight: 300;
}

.button {
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  clear: left;
  background-color: #ceb47d;
  font-family: 'Gilroy (1)', sans-serif;
  color: #000;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0px;
}

.bold-text {
  font-weight: 600;
}

.girl-in-blue-image {
  width: 50%;
  height: 115%;
  float: right;
}

.div-block {
  position: relative;
  height: 250px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gilroy, sans-serif;
  color: #000;
  font-size: 1px;
  line-height: 30px;
}

.image {
  float: none;
  clear: none;
}

.black-text {
  width: 370px;
  margin-bottom: 20px;
  color: #000;
  font-size: 24px;
  line-height: 30px;
}

.gold-text {
  color: #ceb47d;
  font-size: 24px;
  font-weight: 600;
}

.paragraph-2 {
  font-size: 14px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gilroy, sans-serif;
  color: #000;
}

.hip-older-woman {
  width: 30%;
}

.small-heading {
  font-family: Gilroy, sans-serif;
  color: #006565;
  font-weight: 500;
}

.small-text {
  width: 300px;
}

.brownstone-block-image {
  width: 47%;
  height: 100%;
  max-width: 100%;
  margin-right: 3%;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b7bbbe;
}

.section-5 {
  height: 100px;
  background-color: #d4dbe0;
}

.blue-centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1f2d4d;
}

.text-block {
  font-family: Gilroy, sans-serif;
  color: #fff;
  font-size: 20px;
}

.tiny-green-container {
  height: 100px;
  background-color: #006565;
}

.tiny-green-border-left {
  width: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #006565;
}

.tiny-green-border-right {
  width: 20px;
  background-color: #006565;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d4dbe0;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1f2d4d;
}

.footer {
  height: 150px;
}

.image-2 {
  height: 150px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 479px) {
  .girl-in-blue-image {
    position: static;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@font-face {
  font-family: 'Gilroy (1)';
  src: url('../fonts/Gilroy-Bold-1.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy (1)';
  src: url('../fonts/Gilroy-Medium-1.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
